body {
    margin: 0;
    font-family: Segoe UI, sans-serif;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.overlay {
    background: rgba(0,0,0,0.6);
    min-height: 100vh;
}

nav {
    background: linear-gradient(90deg, #ff9800, #ff5722, #ffc107);
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

.box {
    width: 85%;
    margin: 40px auto;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(8px);
    padding: 30px;
    border-radius: 15px;
}

input {
    width: 90%;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

button {
    background: #ffc107;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}
